* {
  margin: 0;
  padding: 0;
  color: rgb(190, 190, 190);
  font-size: 1.8rem;
  overflow-wrap: break-word;
  word-break: break-word;
  line-height: 1;
  transition: all 0.2s ease;
}

body {
  background-color: rgb(40, 40, 40);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#header {
  background-color: rgb(50, 50, 50);

  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  padding: 1em;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
  border-style: double;
  border-color: rgb(123, 0, 100);
}

#header__title {
  font-size: 2.4rem;
}

#wrapper {
  background-color: rgb(50, 50, 50);

  margin-top: 1rem;
  padding: 0.2rem;
  padding-bottom: 1rem;
  border-radius: 1.5rem;
  border-style: double;
  border-color: rgb(123, 0, 100);

  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper__emojiInput {
  background-color: rgb(20, 20, 20);
  font-family: "Times New Roman", Times, serif;

  margin-top: 1rem;
  padding: 0.2rem;

  width: 90%;
  text-align: center;
  height: 2.5rem;
  border-radius: 1.5rem;
  border-style: double;
  border-color: rgb(123, 0, 100);
}

#wrapper__emojiInput::placeholder {
  color: rgb(88, 88, 88);
}

#wrapper__emojiInput:focus {
  outline: 2px solid rgb(190, 0, 155);
  outline-style: double;
}

#wrapper__setEmojiButton {
  background-color: rgb(20, 20, 20);
  font-family: "Times New Roman", Times, serif;

  margin-top: 0.3rem;
  padding: 0.2rem;

  min-width: 80%;
  text-align: center;
  min-height: 2.5rem;
  border-radius: 1.5rem;
  border-style: double;
  border-color: rgb(123, 0, 100);
}

#wrapper__setEmojiButton:active {
  border-color: rgb(190, 0, 155);
}

#wrapper__emojiStatusAccessButton {
  background-color: rgb(20, 20, 20);
  font-family: "Times New Roman", Times, serif;

  margin-top: 0.3rem;
  padding: 0.2rem;

  min-width: 70%;
  text-align: center;
  min-height: 2.5rem;
  border-radius: 1.5rem;
  border-style: double;
  border-color: rgb(123, 0, 100);

  transition: all 0.3s ease;
}

#wrapper__emojiStatusAccessButton:active {
  border-color: rgb(190, 0, 155);
}

#footer {
  background-color: rgb(20, 20, 20);

  margin-top: 1rem;
  padding: 0.2rem;

  text-align: center;
  border-radius: 1.5rem;
  border-style: double;
  border-color: rgb(123, 0, 100);
  display: flex;

  text-decoration: none;
}

@media (max-width: 650px), (max-height: 610px) {
  #header {
    font-size: 0.3rem;
    white-space: normal;
    padding: auto;
  }
  * {
    font-size: 1.3rem;
  }

  #wrapper,
  #wrapper__emojiInput,
  #wrapper__setEmojiButton,
  #wrapper__emojiStatusAccessButton,
  #footer {
    border-radius: 0.7rem;
  }
}
